.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $accent-primary;
  border: none;
  padding: 7px 25px;
  text-align: center;
  text-transform: uppercase;
  color: $text-secondary;
  text-decoration: none;
}

.button--secondary {
  color: $text-primary;
  background-color: $accent-secondary;
}
