.example {
  background-color: $block-background;
  padding-top: 25px;
  padding-bottom: 40px;

  @include above-tablet() {
    padding-top: 43px;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom, $color-white 619px, $block-background 619px);
    background-size: cover;
  }

  @include above-desktop() {
    padding-top: 0;
    padding-bottom: 85px;
    background-image: linear-gradient(to bottom, $color-white 136px, $color-lighten-gray 136px);
  }
}

.example__title {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  color: $text-title;

  @include above-tablet() {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @include above-desktop() {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @include above-tablet() {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @include above-desktop() {
    padding-right: 784px;
    margin-bottom: 69px;
  }
}

.example__list {
  margin: 0;
  display: grid;
  row-gap: 34px;
  margin-bottom: 20px;

  @include above-tablet() {
    display: flex;
    justify-content: space-between;
  }

  @include above-desktop() {
    width: 366px;
    display: grid;
    row-gap: 60px;
  }
}

.example__spending {
  font-family: $custom-font;
  line-height: 20px;
  color: $text-title;
  margin: 0;
  grid-column: 1/-1;
  justify-self: center;
  text-transform: uppercase;

  @include above-tablet() {
    display: grid;
    font-size: 20px;
    align-items: center;
    justify-items: end;
  }

  @include above-desktop() {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 36px;
  }
}
